.saved-movies {
  min-height: 805px;
}

.saved-movies__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media screen and (max-width: 768px) {
  .saved-movies__content {
    margin-bottom: 140px;
  }
  .saved-movies {
    min-height: 1072px;
  }
}

@media screen and (max-width: 425px) {
  .saved-movies__content {
    margin-bottom: 115px;
  }
  .saved-movies {
    min-height: 940px;
  }
}
